@charset "utf-8";

$control-height: auto;
$button-padding-vertical: 0.1em;
$control-padding-vertical: 0.1em;
$table-cell-padding: 0.1em 0.5em;

// Import Bulma's core
@import "../node_modules/bulma/sass/utilities/_all";

// Set your colors
$primary: #189c2e;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);



// Import Bulma and Buefy styles
// @import "../node_modules/bulma/bulma.sass";

@import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/_all.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/_all.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";

@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/select.sass";

// @import "../node_modules/bulma/sass/layout/hero.sass";

// @import "../node_modules/bulma/sass/grid/_all.sass";


// @import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules/bulma/sass/helpers/flexbox.sass";
// @import "../node_modules/bulma/sass/helpers/float.sass";
// @import "../node_modules/bulma/sass/helpers/other.sass";
@import "../node_modules/bulma/sass/helpers/overflow.sass";
@import "../node_modules/bulma/sass/helpers/position.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
// @import "../node_modules/bulma/sass/helpers/typography.sass";
// @import "../node_modules/bulma/sass/helpers/visibility.sass";


// @import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

@import "../node_modules/buefy/src/scss/utils/_all.scss";
@import "../node_modules/buefy/src/scss/components/_table.scss";
// @import "../node_modules/buefy/src/scss/components/_form.scss";
// // @import "../node_modules/buefy/src/scss/components/_checkbox.scss";
